* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* Padding ane border width/height ni andar count thay che */
  font-family: Roboto, Arial, sans-serif;
  scrollbar-width: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
    position: relative;
}

.container {
  /* position: absolute; */
  position: fixed;
  z-index: 1000;
  top: 0px;
  margin: 20px;
  padding: 5px 20px 5px 20px;
  height: 95vh;
  width: 60vw;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  scrollbar-width: none;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
  url(https://t4.ftcdn.net/jpg/02/05/93/21/360_F_205932110_IWiDmketVT703mNPZ8eSn76Sa25QoSYw.jpg);
  background-size: cover;
  background-position: center; */
}
video{
  width: 1920px;
}


.box1 {
  font-size: 30px;
  color: white;
  margin: 20px;
  height: 19.5vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  position:absolute;
  z-index: 1000;
  top: 0px;
}
.box2 {
  color: white;
  height: 69vh;
  margin: 24vh 20px 20px 20px;
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  position: absolute;
  z-index: 1000;
  top: 0px;
}

.text1, .text2,.text3,.text4,.text5{
  font-size: 28px;
    color: white;
  margin: 10px;
  height: 10vh;
  width: 50vw;
  display: flex;
  /* justify-content: center; */
  
  align-items: center;
  /* border: 1px solid white; */
  /* border-radius: 15px; */
}
